body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  font-weight: 300;
}

.container {
  max-width: 40em;
  margin: 10px auto;
}


.ac_label {
  font-weight: 700;
  position: relative;
  padding: .5em 1em;
  margin-bottom: .5em;
  display: block;
  cursor: pointer;
  background-color: #fff5df;
  transition: background-color .15s ease-in-out;
}

.ac_input:checked+label,
.ac_label:hover {
  background-color: #fff5df;
}

.ac_label:after,
.ac_input:checked+.ac_label:after {
  content: "+";
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 2em;
  height: 100%;
  line-height: 2.25em;
  text-align: center;
  background-color: #fff5df;
  transition: background-color .15s ease-in-out;
}

.ac_label:hover:after,
.ac_input:checked+.ac_label:after {
  background-color: #fff5df;
}

.ac_input:checked+.ac_label:after {
  content: "-";
}

.ac_input {
  display: none;
}

.ac_text,
.ac_sub_text {
  opacity: 0;
  height: 0;
  margin-bottom: .5em;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
}

.ac_input:checked~.ac_text,
.ac_sub .ac_input:checked~.ac_sub_text {
  opacity: 1;
  height: auto;
  background-color: #cdf0f3;
}

.ac_sub .ac_label {
  background: none;
  font-weight: 600;
  padding: .5em 2em;
  margin-bottom: 0;
}

.ac_sub .ac_label:checked {
  background: none;
  border-bottom: 1px solid whitesmoke;
}

.ac_sub .ac_label:after,
.ac_sub .ac_input:checked+.ac_label:after {
  left: 0;
  background: none;
}

.ac_sub .ac_input:checked+label,
.ac_sub .ac_label:hover {
  background: none;
}

.ac_sub_text {
  padding: 0 1em 0 2em;
}
.box{
  font-weight: 700;
  position: relative;
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
  display: block;
  cursor: pointer;
  background-color: azure;
  transition: background-color .15s ease-in-out;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
}